<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片上传</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>


<div style="width: 50%;margin: 0 auto;height: 50px;text-align: center">
    <#if msg??>
    <div class="alert alert-info alert-dismissible myalert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>${msg}</strong>
    </div>
</#if>
</div>
<div style="width: 800px;margin: 0 auto;background: #eeeeee;padding: 20px;border-radius: 10px;box-shadow: 3px 3px 5px #aaaaaa;">

    <h3 style="text-align: center">图片上传</h3>
    <p>请选择一张图片上传</p>
    <div style="display: flex">
        <form enctype="multipart/form-data" method="post" action="/images/upload" style="flex: 2;margin-right: 10px">
            <div class="input_item">
                <p>选择文件</p>
                <input type="file" name="file" id="file" multiple="multiplt" value="请选择要上传的图片">
            </div>
            <div class="input_item">
                <p>自定义命名</p>
                <input type="text" name="filename"  placeholder="请自定义文件名，可不填...">
            </div>
            <div class="input_item" style="height: 90px">
                <p>图片备注</p>
                <textarea type="text" name="remark" placeholder="请添加图片备注，可不填..."></textarea>
            </div>
            <div class="input_item">
                <p> </p>
                <input type="submit" style="background: #eeeeee;border-radius: 10px;border:1px solid #aaa;padding: 0 10px;background: chocolate;color: #ffffff;" value="上传">
            </div>

        </form>
        <div style="flex: 1;padding: 10px;">
            <p style="margin-bottom: 10px">图片预览：</p>
            <img  src="" id="fileSrc">
        </div>
    </div>



</div>

<script>
    $("#file").on('change', function () {

        var objurl = getObjectURL(this.files[0]);

        function getObjectURL(file) {
            var url = "";
            if (window.createObjectURL != undefined) {
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) {
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) {
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }

        $("#fileSrc").attr("src", objurl);
        $("#fileSrc").css("width","200px");
    });

</script>

</body>
</html>